@font-face {
  font-family: 'MyFont';
  src: url('./opensans-regular-webfont.woff2') format('woff2');
}

.topHeading {
  padding: 20px;
  margin: 10px;
  border: 5px solid #AA3333;
  font-family: 'MyFont';
  font-size: 2em;
}

pre {
  font-size: 0.5em;
}

img {
  border: 1px solid #555;
  margin: 12px;
}

.root {
  width: 480px;
  height: 200px;
  background: url('./chatacter_00_small.jpg')
}